In [2]:
print("Question 1: Create a list of first 10 square numbers")
square_numbers = [x**2 for x in range(1, 11)]
print("First 10 square numbers:", square_numbers)

Question 1: Create a list of first 10 square numbers
First 10 square numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = sum(num for num in numbers if num % 2 == 0)
print("Sum of even numbers:", even_sum)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30

In [19]:
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("List without duplicates (order preserved):", unique_numbers)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List without duplicates (order preserved): [1, 2, 3, 4, 5, 6, 7]

In [20]:
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print("Sorted list in descending order:", numbers)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
Sorted list in descending order: [90, 64, 34, 25, 22, 12, 11]

In [21]:
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]n/ ")
num = [15, 23, 31, 42, 56, 78, 91]
length = len(num)
sum_num = sum(num)
average = sum_num/len(num)
print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]n/
48.0

In [22]:
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
n = 15

# Initialize the list with first two Fibonacci numbers
fibonacci = [0, 1]

# Generate the rest of the sequence
for i in range(2, n):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])

# Print the list
print("First 15 Fibonacci numbers:", fibonacci)

Question 6: Create a list of first 15 Fibonacci numbers
First 15 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [24]:
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort(reverse=True)
second_largest = numbers[1]
print("Second largest number is:", second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
Second largest number is: 78

In [25]:
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.reverse()
print("Reversed list:", numbers)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = numbers.count(5)
print("Number 5 appears", count_5, "times.")

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
Number 5 appears 4 times.

In [27]:
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create list of prime numbers between 1 and 50
prime_numbers = [n for n in range(1, 51) if is_prime(n)]

# Print the list
print("Prime numbers between 1 and 50:", prime_numbers)

Question 10: Create a list of prime numbers between 1 and 50
Prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [28]:
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Flatten the list
flat_list = [num for sublist in nested_list for num in sublist]

# Print result
print("Flattened list:", flat_list)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find common elements using set intersection
common_elements = list(set(list1) & set(list2))

# Print result
print("Common elements:", common_elements)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
Common elements: [4, 5]

In [31]:
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
list_of_lists = [[1, 2], [3, 4], [5, 6]]

# Print result
print("List of lists:", list_of_lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
List of lists: [[1, 2], [3, 4], [5, 6]]

In [32]:
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Find sum of each sublist
sums = [sum(sublist) for sublist in nested_list]

# Print result
print("Sum of each sublist:", sums)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Sum of each sublist: [6, 15, 24]

In [33]:
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# Transpose the matrix using zip
transposed = [list(row) for row in zip(*matrix)]

# Print result
print("Transposed matrix:", transposed)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [34]:
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
nested_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

# Find maximum in each sublist
max_values = [max(sublist) for sublist in nested_list]

# Print result
print("Maximum value in each sublist:", max_values)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
Maximum value in each sublist: [5, 9, 8]

In [35]:
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
three_d_list = [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
]

# Print result
print("3D list:", three_d_list)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [36]:
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
three_d_list = [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
]

# Sum all elements
total_sum = sum(num for sublist1 in three_d_list for sublist2 in sublist1 for num in sublist2)

# Print result
print("Sum of all elements:", total_sum)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Sum of all elements: 36

In [37]:
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Extract even numbers
even_numbers = [num for sublist in nested_list for num in sublist if num % 2 == 0]

# Print result
print("Even numbers:", even_numbers)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Even numbers: [2, 4, 6, 8]

In [38]:
print("\nQuestion20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
mixed_list = [1, 'hello', 3.14, True, [1, 2, 3]]
print("Mixed data types list:", mixed_list)

Question20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
Mixed data types list: [1, 'hello', 3.14, True, [1, 2, 3]]

In [39]:
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
fruits = ['apple', 'banana', 'cherry', 'date']

# Find length of each string
lengths = [len(fruit) for fruit in fruits]

# Print result
print("Length of each string:", lengths)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
Length of each string: [5, 6, 6, 4]

In [40]:
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

# Print result
print("List of tuples:", list_of_tuples)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
List of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [41]:
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
tuples_list = [(1, 'a'), (2, 'b'), (3, 'c')]

first_elements = [t[0] for t in tuples_list]
print("First elements:", first_elements)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
First elements: [1, 2, 3]

In [43]:
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
print("List of dictionaries:", people)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
List of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [44]:
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]

# Extract all 'name' values
names = [person['name'] for person in people]

# Print result
print("Names:", names)

Question 25: Extract all 'name' values from list of dictionaries
Names: ['Alice', 'Bob']