In [1]:
print("Question 1: Create a set of first 10 natural numbers")
natural_numbers = set(range(1, 11))

print("Set of first 10 natural numbers:", natural_numbers)

Question 1: Create a set of first 10 natural numbers
Set of first 10 natural numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
numbers = {1, 2, 3, 4, 5}

numbers.add(11)
print("Updated set:", numbers)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
Updated set: {1, 2, 3, 4, 5, 11}

In [3]:
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
numbers = {1, 2, 3, 4, 5, 6}

numbers.remove(3)
print("Updated set:", numbers)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
Updated set: {1, 2, 4, 5, 6}

In [4]:
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1 & set2  
print("Intersection:", intersection_set)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
Intersection: {4, 5}

In [5]:
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1 - set2  
print("Difference:", difference_set)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
Difference: {1, 2, 3}

In [6]:
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
numbers = {1, 2, 3, 4, 6, 7, 8}

if 5 in numbers:
    print("5 is in the set.")
else:
    print("5 is not in the set.")

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
5 is not in the set.

In [7]:
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
set = {'a', 'b', 'c', 'd', 'e'}
length = len(set)

print("Length of set:", length)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
Length of set: 5

In [8]:
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
text = "hello world"

vowels = {'a', 'e', 'i', 'o', 'u'}

vowels_in_text = {char for char in text if char in vowels}
print("Vowels in the string:", vowels_in_text)

Question 8: Create a set of vowels from string 'hello world'
Vowels in the string: {'e', 'o'}

In [13]:
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

# Remove duplicates using set
unique_numbers = list(set(numbers))

# Print result
print("List without duplicates:", unique_numbers)

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

TypeError: 'set' object is not callable

In [14]:
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

# Check subset
if set1.issubset(set2):
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
set1 is a subset of set2.